h1{
    text-align: center;
}
.menu {
background-color: beige;
}
ul {
    position: sticky;
    list-style-type: none;
    margin: o;
    padding: 0;
    overflow: hidden;
    background-color:rgb(112, 70, 14);
   
    
}
body{
    margin: 0pxS;
    
} 
li {
    float: right;
    margin: 1px;
}
ul.li a {
    display: block;
    color: white;

}
ul a:hover {
    background-color: black;
    color: white;
}
.active {
    background-color: rgb(112, 70, 14);
    color: white;
}
html {
    background-color: beige;
    font-family: Arial, sans-serif;
}
ul a {
    display: block;
color: white;
text-align: center;
text-decoration: none;
}
.button {
    background-color: rgb(112, 70, 14);
    color: white;
    display: block;
    border: none;
    text-align: center;
    padding: 15px;
   
    }
ul button:hover {
        background-color: black;
    }
    .pi{
        text-align: center;
    }
    h2{
        text-align: center;
    }
