ul {
    list-style-type: none;
    margin: o;
    padding: 0;
}
#txtt{
overflow: hidden;
background: rgb(0,0,0,0.5);
border-radius: 2px;
display: flex;
position: relative;
font-size: 1vh;
width: 25vh;
color: white;
}
#ttl {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    background-color: rgb(112, 70, 14);
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
    justify-items: center;
    position: relative;
    border: 2px solid black;
    height: 5vh;
    width: 15vh;
    box-sizing: border-box;
    font-size: 1vh;
    transition: width 1s, height 2s,
}
#ttl:hover.hid{
  height: 30vh;
  width: 26vh;
}
#hid {
  display: none;
}
